@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primaryColor: #F6F6F6;
    --secondaryColor: #212121;
    --thirdColor: #007880;
    --fourthColor: #C4DDFF;
    --primaryFont: 'Bebas Neue', cursive;
    --secondaryFont: 'Fredoka', sans-serif;
}

body {
    background-color: var(--primaryColor);
}


#header {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

main {
    margin-top: 4rem;
}

/* ---------------------------- */
/* ---------------------------- */
/* -->>> NAVBAR */

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    background-color: var(--primaryColor);
    z-index: 9999;
}

.navbar__shadow {
    box-shadow: 0 1px 20px var(--secondaryColor);
}

.navbar__logo {
    width: auto;
    height: 90%;
}

.navbar__links_container {
    background-color: var(--secondaryColor);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.navbar__menu_open {
    height: 200px;
}

.navbar__links_list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: var(--secondaryFont);
}

.navbar__links_list li {
    width: 100%;
    flex-grow: 1;
}

.nav-link {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--primaryColor);
    font-size: 1.2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar__burguer {
    width: 50px;
    height: 50px;
}

.navbar__burguer > span{
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 9999px;
    background-color: var(--secondaryColor);
    margin: auto;
}

.navbar__burguer > span:first-child{
    margin-top: 10px;
}

.navbar__burguer > span:not(:last-child){
    margin-bottom: 7px;
}

.navbar__burguer, .navbar__burguer > span{
    transition: all 0.4s ease-in-out;
}

.burguer_active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

.burguer_active > span:nth-child(2){
    width: 0px;
}

.burguer_active > span:nth-child(1), 
.burguer_active > span:nth-child(3){
    transition-delay: 0.4s;
}

.burguer_active > span:nth-child(1){
    transform: translateY(10px);
}

.burguer_active > span:nth-child(3){
    transform: translateY(-14px) rotate(90deg);
}

/* -->>> END NAVBAR */
/* ---------------------------- */
/* ---------------------------- */


/* ---------------------------- */
/* ---------------------------- */
/* -->>> HEADER CONTENT */
.header__content {
    display: flex;
    flex-direction: column;
    padding: 80px 2rem 0 2rem;
}

.header__img_container {
    width: 100%;
    height: 300px;
    padding: 1rem 0;
    background-color: var(--thirdColor);
    border-bottom-right-radius: 50%;
}

#header-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__info {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header__info h1 {
    font-family: var(--primaryFont);
    font-size: clamp(2rem, 5vw, 4rem);
}

.header__info p {
    font-family: var(--secondaryFont);
}

.header__info_subtitle {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--secondaryFont);
}

.header__info_subtitle h3 {
    font-size: 1.2rem;
}

.header__info_subtitle span {
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
    ;
    font-weight: bold;
    color: var(--thirdColor);
    margin-left: 2.5rem;
}

.header__info_btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: var(--thirdColor);
    color: var(--primaryColor);
    margin-top: 20px;
    border-radius: 10px;
    font-family: var(--secondaryFont);
    font-size: 1.6rem;
    cursor: pointer;
}


/* -->>> END HEADER CONTENT */
/* ---------------------------- */
/* ---------------------------- */


/* ---------------------------- */
/* ---------------------------- */
/* -->>> SECTION ABOUT */

.section__about {
    width: 100%;
    height: 600px;
    background-color: var(--fourthColor);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    border-top: 10px dashed var(--primaryColor);
    border-bottom: 10px dashed var(--primaryColor);
    overflow: hidden;
}

.about__info {
    width: 100%;
    padding: 0 2rem;
    color: var(--secondaryColor);
}

.about__info h1 {
    font-family: var(--primaryFont);
    font-size: 2.2rem;
}

.about__info p {
    font-family: var(--secondaryFont);
    text-align: justify;
    margin-top: 10px;
}

.about__video_container {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.video__element {
    width: 100%;
    height: 100%;
}

/* -->>> END SECTION ABOUT */
/* ---------------------------- */
/* ---------------------------- */

/* ---------------------------- */
/* ---------------------------- */
/* -->>> SECTION COURSES */

.section__courses {
    margin-top: 6rem;
    width: 100%;
    height: 500px;
    padding: 0 2rem;
}

.courses__info {
    font-family: var(--primaryFont);
}

.courses__info h1 {
    font-size: 2.2rem;
}

.courses__info h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.courses__slider_container {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    position: relative;
}

.courses__slider {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.courses__slider::-webkit-scrollbar {
    display: none;
}

.course__card {
    width: 280px;
    min-width: 280px;
    height: 200px;
    background-color: var(--secondaryColor);
    border: 4px solid var(--secondaryColor);
}

.course__card_figure {
    width: 100%;
    height: 80%;
    border-bottom: 2px solid var(--secondaryColor);
}

.course__card_figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course__card_title_div {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

.course__card_title {
    font-family: var(--secondaryFont);
    font-size: 1.2rem;
    font-weight: normal;
}

.slider__btns {
    display: none;
}

.courses__btn {
    outline: none;
    border: none;
    width: auto;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    float: right;
    margin-top: 20px;
    background-color: var(--thirdColor);
    font-family: var(--secondaryFont);
    font-size: 1rem;
    color: var(--primaryColor);
    cursor: pointer;
    border-radius: 10px;
}

.courses__btn i {
    width: 30px;
    height: 30px;
}

/* -->>> END SECTION COURSES */
/* ---------------------------- */
/* ---------------------------- */

/* ---------------------------- */
/* ---------------------------- */
/* -->>> SECTION PRICING */

.pricing__section {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 3rem;
}

.pricing__title {
    font-family: var(--primaryFont);
    font-size: 2.3rem;
}

.pricing__plans_container {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    gap: 2rem;
}

.pricing__card {
    width: 100%;
    height: 450px;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 2px 2px 10px var(--secondaryColor);
}

.pricing_card_title {
    font-family: var(--primaryFont);
    font-size: 2.5rem;
    letter-spacing: 2px;

}

.plan__free {
    color: #6ECB63;
}

.plan__professional {
    color: #0AA1DD;
}

.plan__premium {
    color: #F0A500;
}

.pricing__card small {
    color: #A7C4BC;
    font-size: 1rem;
}

.plan__free_price {
    font-family: var(--secondaryFont);
    font-size: 3.3rem;
}

.plan__characteristics_div {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.characteristics__list {
    font-family: var(--secondaryFont);
    list-style: none;
}

.characteristics__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    color: var(--secondaryColor);
}

.characteristics__list li i {
    padding-top: 3px;
}

.characteristic__green {
    color: #6ECB63;
}

.characteristic__red {
    color: #F05454;
}

.pricing__card_button {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: var(--thirdColor);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--primaryColor);
    font-family: var(--secondaryFont);
    font-size: 2rem;
    cursor: pointer;
}
/* -->>> END SECTION PRICING */
/* ---------------------------- */
/* ---------------------------- */


/* ---------------------------- */
/* ---------------------------- */
/* -->>> SECTION JOIN */

.section__join {
    width: 100%;
    height: auto;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}

.join__img_container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    outline: none;
}

.join__img_container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.join__title {
    font-family: var(--primaryFont);
    font-size: clamp(2.5rem, 5vw, 4rem);
    letter-spacing: 2px;
}

.join__subtitle {
    font-family: var(--primaryFont);
    font-size: clamp(1.5rem, 3vw, 2rem);
    letter-spacing: 2px;
}

.join__form_container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-top: 20px;
    font-family: var(--secondaryFont);
}

.join__form input{
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px dashed var(--thirdColor);
    padding: 0 1rem;
    font-family: var(--secondaryFont);
}

.join__form button[type="submit"]{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    margin-top: 10px;
    background-color: var(--thirdColor);
    color: var(--primaryColor);
    font-family: var(--secondaryFont);
    font-size: 1.1rem;
}

/* -->>> END SECTION JOIN */
/* ---------------------------- */
/* ---------------------------- */

/* ---------------------------- */
/* ---------------------------- */
/* -->>> FOOTER */
.footer__container{
    width: 100%;
    height: 100px;
    margin-top: 6rem;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: center;
    gap: 1rem;
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
    font-size: 0.8rem;
}

.footer__links{
    display: flex;
    font-size: 0.8rem;
    gap: 1rem;
}

.footer__links p{
    cursor: pointer;
}
/* -->>> FOOTER */
/* ---------------------------- */
/* ---------------------------- */

@media screen and (min-width: 850px) {

    #header {
        height: 80vh;
    }

    /* ---------------------------- */
    /* -->>> NAVBAR */
    .navbar {
        padding: 0 5rem;
    }

    .navbar__links_container {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        background: none;
    }

    .navbar__links_list {
        height: auto;
        flex-direction: row;
        gap: 3rem;
    }

    .nav-link {
        color: var(--secondaryColor);
        position: relative;
    }

    .nav-link::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--thirdColor);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    .nav-link:hover {
        color: var(--thirdColor);
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .navbar__burguer {
        display: none;
    }

    /* -->>> END NAVBAR */
    /* ---------------------------- */


    /* ---------------------------- */
    /* -->>> HEADER CONTENT */
    .header__content {
        flex-direction: row-reverse;
        padding: 80px 5rem 0 5rem;
        gap: 2rem;
    }

    .header__img_container {
        width: 50%;
        height: 550px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 50%;
    }

    .header__info {
        width: 50%;
        align-items: flex-start;
    }

    .header__info_subtitle {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .header__info_subtitle h3 {
        font-size: 1.2rem;
        padding-top: 5px;
    }

    .header__info_subtitle span {
        margin-left: 0;
    }

    .header__info_btn {
        width: 250px;
        height: 70px;
        margin-top: 2rem;
        float: left;
        transition: all 0.5s ease-in-out;
    }

    .header__info_btn:hover {
        background-color: #0AA1DD;
    }

    /* -->>> END HEADER CONTENT */
    /* ---------------------------- */

    /* ---------------------------- */
    /* -->>> SECTION ABOUT */

    .section__about {
        flex-direction: row;
        height: 500px;
        padding: 0;
    }

    .about__info {
        width: 40%;
        min-width: 200px;
        padding-left: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about__video_container {
        width: 60%;
        height: 100%;
        transform: skew(-20deg) translateX(100px);
    }

    /* -->>> SECTION ABOUT */
    /* ---------------------------- */

    /* ---------------------------- */
    /* -->>> SECTION COURSES */

    .section__courses {
        padding: 0 5rem;
        height: 600px;
    }

    .courses__slider {
        height: 90%;
    }

    .course__card_figure {
        overflow: hidden;
    }

    .course__card_figure img {
        transition: all 0.5s ease-in-out;
    }

    .course__card {
        cursor: pointer;
    }

    .course__card:hover>.course__card_figure img {
        transform: scale(1.2);
    }

    .courses__info h1 {
        font-size: 2.5rem;
    }

    .courses__info h3 {
        font-size: 1.7rem;
    }

    .course__card {
        width: 380px;
        min-width: 380px;
        height: 250px;
        background-color: var(--secondaryColor);
        border: 4px solid var(--secondaryColor);
    }

    .slider__btns {
        height: auto;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--fourthColor);
        margin-top: 20px;
    }

    #sliderLeft,
    #sliderRight {
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: var(--secondaryColor);
        color: var(--primaryColor);
    }

    #sliderLeft>i,
    #sliderRight>i {
        transition: all 0.5s ease-in-out;
    }

    #sliderLeft:hover>i {
        transform: translateX(-5px);
    }

    #sliderRight:hover>i {
        transform: translateX(5px);
    }

    .courses__btn {
        height: 60px;
    }

    /* -->>> END SECTION COURSES */
    /* ---------------------------- */

    /* ---------------------------- */
    /* -->>> SECTION PRICING */

    .pricing__section {
        padding: 2rem 5rem;
    }

    .pricing__title {
        font-size: 3rem;
        text-align: center;
    }

    .pricing__card_button:hover {
        transition: all 0.5s ease-in-out;
        animation: bounce 1s linear infinite;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(5px);
        }

        100% {
            transform: translate(0);
        }
    }

    /* -->>> END SECTION COURSES */
    /* ---------------------------- */

    /* ---------------------------- */
    /* -->>> SECTION JOIN */

    .section__join {
        flex-direction: row;
    }

    .join__img_container{
        width: 50%;
        height: 400px;
    }

    .join__form{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    

    .join__form_container {
        width: 50%;
        height: 400px;
    }

    .join__info h1 {
        letter-spacing: 2px;
    }

    .join__info h3 {
        letter-spacing: 2px;
    }

    .join__form input{
        width: 90%;
        height: 60px;
        font-size: 1.2rem;
    }
    
    .join__form button[type="submit"]{
        width: 200px;
        height: 60px;
        margin-top: 0;
        font-size: 1.1rem;
        cursor: pointer;
    }
   

    /* -->>> END SECTION JOIN */
    /* ---------------------------- */

}